Topographer/Config/ColorPalette.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ColorPalette">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Biomes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Biome">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Id" type="xs:string" use="required" />
                  <xs:attribute name="Color" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9a-fA-F]{6}|[0-9a-fA-F]{8}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="FoliageColor" type="xs:string" use="required" />
                  <xs:attribute name="WaterColor" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Blocks">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Block">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Id" type="xs:string" use="required" />
                  <xs:attribute name="Color" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9a-fA-F]{6}|[0-9a-fA-F]{8}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="AddFoliageColor" type="xs:boolean" use="optional" default="false" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>